:root{
    background: #d6d9e6;
}

.welcome {
    text-align: center;
    color: black;
    display: inline-block;
}

.headerpic {
    border-radius: 2em;
    display: block;
    margin: 0 auto 2em;
}

.link:hover {
    opacity: .75;
}

.link{
    display: inline-block;
    padding-left: 20px;
}

.menu-desktop{
    display: none;
    float: right;
}

img{
    max-width: 100%;
}

@media (min-width : 552px){
    .menu-mobile{
        display: none;
    }

    .menu-desktop{
        display: inline-block;
    }

}