:root{
    background: #7a88c5;
}

.welcome {
    text-align: center;
    color: white;
}

.headerpic {
    border-radius: 1em;
    display: block;
    margin: 0 auto 2em;
}

.link:hover {
    opacity: .75;
}

.link{
    display: inline-block;
    padding-left: 20px;
}




@media (min-width = 750px){


}