:root{
    background: #d6d9e6;
}

.welcome {
    text-align: center;
    color: black;
    display: inline-block;

}

.menu-desktop{
    padding-left: 10px;
}


.headerpic {
    border-radius: 2em;
    display: block;
    /*margin: 0 auto 2em;*/
    margin-bottom: 25px;
}



.link:hover {
    opacity: .75;
}



.menu-desktop{
    display: none;
    float: right;
    margin-right: 20px;
    margin-left: 0px;
}

img{
    max-width: 100%;
    margin-right: 20px;
}


.link{
    display: inline-block;
    padding-left: 20px;
    background-color: rgb(121, 198, 226);
    color: rgb(2, 0, 0);
    border-radius: 2em;
    padding: 10px;
    justify-content: center;
}

.link-mobile{
    background-color: rgb(121, 198, 226);
    color: rgb(2,0,0);
    border-radius: 2em;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

h2{
    text-align: center;
}

.article-pic{
    width: 85%;
    margin-left: 25px;
}

p{
    margin-left: 25px;
}


ul{
    /*display: inline-block;*/
    list-style-type: none;
    max-width: 100%;
}

.nth-child{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.display-none{
    display: none;
}

li:nth-child(2n +4){
    background: black;
    color: white;
}

form{
    text-align: center;
}

label{
    display: block;
}

button{
    display: inline-block;
    justify-content: center;
    text-align: center;
}


/*Mobile Out Media Queries*/

@media (min-width : 552px){

    .menu-mobile{
        display: none;
    }

    section{
        display: flex;
        flex-direction: row;
    }

    
    .menu-desktop{
        display: inline-block;
        /*float: right;*/

    }

    h3{
        font-style: bold;
    }

    .loop{
        font-size: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        text-align: center;
        justify-content: center;
    }

    #contact{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
    }


}

@media (max-width: 552px){
    ul{
        list-style-type:none;
        margin: auto;
    }

    h2{
        border: solid black;
    }

    .loop{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
    }

    #contact{
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }

}